
:root{
  --primary-color:#4cbbfc;
  --hover-color:#2eaef8;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body{
  background-color: rgb(233, 232, 232);
}
.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.loding {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.spin {
  position: relative;
  width: 50px;
  height: 50px;
  border: 3px solid #16a085;
  border-radius: 50%;
  border-bottom: none;
  animation: Animate 1s linear infinite;
}
.spinner{
  width:100%;
  height:50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner > div{
  height: 100%;
  width: 50px;
  border: 3px solid var(--primary-color);
  border-bottom: none;
  border-radius: 50%;
  animation: Animate 1s linear infinite;
  
}
@keyframes Animate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
